@charset "utf-8";

body {
    background-color: #fffffc;
}

/* ヘッダー・メインビジュアル */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 70px 85px 70px;
}

.logo {
    width: 330px;
}

.header-nav ul {
    display: flex;
    gap: 60px;
}

.header-nav li {
    color: #f1c16d;
    font-size: 22px;
}

/* タイトル */

#title {
    text-align: center;
    margin-bottom: 96px;
}

#title h2 {
    font-size: 18px;
}

#title p {
    font-size: 60px;
    font-weight: bold;
    color: #f1c16d;
    opacity: 0.2;
}

/* メイン */

#main {
    margin: 0 160px 160px 160px;
}

#main .works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#main .works-list li {
    margin-bottom: 64px;
}

#main .works-list img {
    border-radius: 25px;
    margin-bottom: 32px;
}

.orange img {
    border: solid 8px #f1c16d;
}

.blue img {
    border: solid 8px #6bd6c7;
}

#main .works-list li p {
    font-size: 18px;
    padding-left: 32px;
}

#main .works-list li p:first-of-type {
    margin-bottom: 24px;
}

.orange .works-text {
    border-left: 8px solid #f1c16d;
}

.blue .works-text {
    border-left: 8px solid #6bd6c7;
}

  /* フッター */

  #footer {
    background-color: #f1c16d;
    font-size: 24px;
}

.flex-item {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 48px 0 172px 0;
}

.footer-logo {
    width: 215px;
}

.flex-item li {
    margin-bottom: 25px;
    color: #fff;
    font-weight: bold;
}

.flex-item li:last-child {
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
}