@charset "utf-8";

/* 共通 */

body {
    background-color: #fffffc;
}

.title h2 {
    font-size: 45px;
}

.title p {
    font-size: 140px;
    font-weight: bold;
    color: #f1c16d;
    opacity: 0.2;
}

/* ヘッダー・メインビジュアル */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 70px 85px 70px;
}

.logo {
    width: 330px;
}

.header-nav ul {
    display: flex;
    gap: 60px;
}

.header-nav li {
    color: #f1c16d;
    font-size: 22px;
}

.mv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
}

.mv-text {
    margin: 0 40px 0 160px;
}

.mv-text1 {
    color: #f1c16d;
    font-size: 135px;
    font-weight: bold;
    margin-bottom: 55px;
}

.mv-text1 span {
    color: #6bd6c7;
}

.mv-text2 {
    font-size: 18px;
    line-height: 2.5;
}

.mv img {
    max-width: 753px;
}

/* サービス */

#service {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 170px;
    margin-bottom: 80px;
}

#service h2 {
    margin-left: 160px;
}

#service .title p {
    transform: rotate(90deg);
    margin-top: 110px;
    margin-left: -120px;
}

.service h3 {
    font-size: 40px;
    color: #6bd6c7;
    margin-bottom: 25px;
}

.service-inner {
    display: flex;
    gap: 25px;
    margin-bottom: 80px;
}

.service-inner img {
    width: 225px;
    align-self: flex-start;
}

.service-text p {
    line-height: 2.25;
    margin-bottom: 25px;
}

.service-tool {
    display: flex;
    gap: 10px;
}

.service-tool p {
    background-color: #f1c16d;
    padding: 0 20px;
    border-radius: 20px;
}

/* 制作実績 */

#works {
    max-width: 1920px;
    margin-bottom: 155px;
}

#works .title {
    text-align: right;
}

#works h2{
    margin-right: 450px;
}

#works .title p {
    margin-right: 170px;
    margin-bottom: 95px;
}

#works ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: unset;
    gap: 35px;
    margin-bottom: 90px;
}

#works li {
    min-width: 25%;
}

#works li img {
    border-radius: 25px;
    border: solid 8px #f1c16d;
}

.button a {
    background: #6bd6c7;
    border-radius: 9999px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px 25px;
    color: #fff;
    font-size: 24px;
    line-height: 1.8;
    text-decoration: none;
}

/* 私について */

#about {
    background-color: #6bd6c7;
    margin-bottom: 160px;
}

#about .title {
    text-align: left;
}

#about .title h2 {
    color: #fff;
    padding-top: 63px;
    margin-left: 160px;
}

#about .title p {
    color: #bdf4ea;
    margin-left: 110px;
    /* transform: rotate(90deg); */
}

#about .about {
    display: flex;
    justify-content: end;
    text-align: center;
    gap: 55px;
    margin-right: 170px;
    padding-bottom: 110px;
}

#about .about-text {
    text-align: left;
}

#about .about-text p {
    color: #fff;
}

#about .about-text-1 {
    font-size: 36px;
    margin-bottom: 30px;
}

#about .about-text-2 {
    font-size: 55px;
    margin-bottom: 60px;
}

#about .about-text-3 {
    line-height: 2.2;
    margin-bottom: 30px;
}

#about .about-text-sns a {
    color: #fff;
    font-size: 24px;
    border-bottom: 1px solid #fff;
}

#about .about-text-sns a:first-child {
    margin-right: 60px;
}

#about .about img {
    width: 390px;
    object-fit: cover;
    border-radius: 25px;
}

/* お問い合わせ */

#contact .title {
    margin-bottom: 64px;
}

#contact .contact-text {
    margin-left: 500px;
    margin-bottom: 100px;
    line-height: 1.83;
}

#contact .title h2 {
    margin-left: 160px;
}

#contact .title p {
    margin-left: 80px;
}

  /* レイアウト */
form {
    width: 75%;
    margin: 0 auto 160px auto;
}

.form-row {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.form-label {
    display: flex;
    align-items: center;
    width: 330px;
}

.form-label label {
    font-size: 24px;
}

.form-label span {
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    background-color: #ef6f6f;
}
  
  /* フォームパーツのデザイン */
input, textarea {
    background-color: #fff;
    border: solid 4px #f1c16d;
    border-radius: 3px;
    padding: 28px 20px;
    font-size: 24px;
    color: #333;
    flex-grow: 1;
  }

input::placeholder,
textarea::placeholder {
    color: #999;
    font-size: 24px;
  }

select {
    background-color: #f2f4f5;
    border: none;
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 16px;
    color: #333;
  }

button {
    cursor: pointer;
    font-size: 24px;
    margin-top: 30px;
    padding: 15px 45px;
    border: none;
    border-radius: 9999px;
    color: #fff;
    font-weight: bold;
    background-color: #6bd6c7;
  }

  /* フッター */

  #footer {
    background-color: #f1c16d;
    font-size: 24px;
}

.flex-item {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 48px 0 172px 0;
}

.footer-logo {
    width: 215px;
}

.flex-item li {
    margin-bottom: 25px;
    color: #fff;
    font-weight: bold;
}

.flex-item li:last-child {
    margin-bottom: 0;
}

.copyright {
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
}